<div class="nav-scroller bg-white shadow-sm">
    <nav class="nav nav-underline color-blue">
        <a class="nav-link color-black" href="#"><i class="fa fa-bars color-blue"></i> Kategori</a>
        <a class="nav-link color-black" href="#"><i class="fa fa-bolt color-blue"></i> Flash Sale</a>
        <a class="nav-link color-black" href="#"><i class="fa fa-thumbs-up color-blue"></i> Rekomendasi</a>
        <a class="nav-link color-black" href="#"><i class="fa fa-tags color-blue"></i> Promo</a>
        <a class="nav-link color-black" href="#"><i class="fa fa-tags color-blue"></i> Gratis Ongkir</a>
    </nav>
</div>