{% load static %}
<header id="header" style="background: #19363a">
		<div class="container">
			<div class="row align-items-center justify-content-between d-flex">
				<div id="logo">
					<h2><a class="text-white font-acme" href="{% url 'home' %}">Find It</a></h2>
				</div>
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li><a href="{% url 'home' %}">Home</a></li>
						<li><a href="about.html">Kategori</a></li>
						<li><a href="courses.html">Promo</a></li>
						<li><a href="courses.html">Flash Sale</a></li>
						<li><a href="contact.html">About Us</a></li>
					</ul>
				</nav><!-- #nav-menu-container -->
			</div>
		</div>
	</header>