{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h4 class="text-center font-londrina px-15">Temukan Produk Anda <br>
        Sekarang Juga!</h4>
    <blockquote class="font-fresca size-font-16">
        Satu hal yang paling menyebalkan pada saat berbelanja online adalah menghabiskan waktu berjam-jam untuk mencari
        penawaran terbaik dari berbagai toko online.
        Kami memberikan efisiensi waktu dalam mencari dan memilih barang yang anda inginkan.
    </blockquote>
</div>

<!-- Start The Parallax -->
<div class="parallax-container">
    <div class="parallax"><img src="{% static 'img/header-2.jpg' %}"></div>
</div>
<div class="section white">
    <div class="row container">
        <h5 class="text-center font-londrina px-15">Cari Produk</h5>
        <form action="{% url 'find_it:search' %}">
            <div class="row">
                <div class="input-field">
                    <input autocomplete="off" placeholder="Search" id="search" required name="find" type="text"
                           class="validate">
                    <label for="search">Cari Produk</label>
                    <div class="text-center">
                        <button class="btn waves-effect waves-light blue darken-4" type="submit">Search</button>
                    </div>
                </div>
            </div>
        </form>

        <p class="text-center"><b>Pencarian Terakhir</b></p>
        <div class="text-center col m6 offset-m3">
            {% for searched in latest_search %}
            {% if not searched == None %}
            <a class="waves-effect waves-light btn-small mx-3 grey lighten-5 black-text "
               href="/search/?find={{searched}}">{{ searched }}</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="section grey lighten-4">
    <div class="container">
        <div class="text-center">
            <h4 class="font-londrina">Our Source</h4>
            <div class="row center">
                {% for our_partner in our_partners %}
                <div class="col m3">
                    <div class="card">
                        <div class="card-image">
                            <img class="responsive-img " src="{{ our_partner.logo.url }}">
                            <span class="card-title source-title">{{ our_partner.name }}</span>
                        </div>
                        <div class="card-content">
                            <p>{{ our_partner.desc }}</p>
                        </div>
                        <div class="card-action">
                            <a href="{{ our_partner.link }}">Kunjungi</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}