{% extends 'base.html' %}

{% block content %}
	<section class="home-banner-area relative">
		<div class="container">
			<div class="row fullscreen d-flex align-items-center justify-content-center">
				<div class="banner-content col-lg-8 col-md-12">
					<h1 class="wow fadeIn" data-wow-duration="4s">Temukan Produk Anda <br> Sekarang Juga!</h1>
					<p class="text-white">
						Satu hal yang paling menyebalkan pada saat berbelanja online adalah menghabiskan waktu berjam-jam untuk mencari penawaran terbaik dari berbagai toko online.
						Kami memberikan efisiensi waktu dalam mencari dan memilih barang yang anda inginkan.
					</p>

					<div class="input-wrap">
						<form action="{% url 'search' %}" class="form-box d-flex justify-content-between">
							<input type="text" placeholder="Cari Produk" class="form-control" name="find">
							<button type="submit" class="btn search-btn">Search</button>
						</form>
					</div>
					<h4 class="text-white">Pencarian Terakhir</h4>

					<div class="courses pt-20">
						{% for searched in latest_search %}
						<a href="/search/?find={{searched}}" data-wow-duration="1s" data-wow-delay=".3s" class="primary-btn transparent mr-10 mb-10 wow fadeInDown">{{ searched }}</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="rocket-img">
			{% load static %}
			<img src="{% static 'img/rocket.png' %}" alt="">
		</div>
	</section>
	<!-- End Banner Area -->


	<!-- Start Faculty Area -->
	<section class="testimonials-area section-gap">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8">
					<div class="text-center">
						<h1>Our Source</h1>
					</div>
				</div>
			</div>
			<div class="row justify-content-center d-flex align-items-center">
				{% for our_partner in our_partners %}
				<div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
					<div class="thumb d-flex justify-content-center">
						<img class="img-fluid" style="width: 50%" src="{{ our_partner.logo.url }}" alt="">
					</div>
					<div class="meta-text text-center">
						<h4>{{ our_partner.name }}</h4>
						<p class="designation"></p>
						<div class="info wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
							<p>
								{{ our_partner.desc }}
							</p>
						</div>
						<a href="{{ our_partner.link }}"><button class="genric-btn info-border">Kunjungi</button></a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<!-- End Faculty Area -->


	<!-- Start Footer Area -->

	<!-- End Footer Area -->

	<!-- ####################### Start Scroll to Top Area ####################### -->
	<div id="back-top">
		<a title="Go to Top" href="#"></a>
	</div>
	<!-- ####################### End Scroll to Top Area ####################### -->
{% endblock content %}