{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container px-10">
    <div class="row">
        <div class="input-field col l10 s12">
            <input autocomplete="off" placeholder="Search" id="search" required name="find" type="text"
                   class="validate">
            <label for="search">Cari Produk</label>
        </div>
        <div class="file-field input-field col l2 s12">
            <button class="btn waves-effect waves-light blue darken-4 width-100-percent" type="submit">Search</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col m6 offset-m6">
            <div class="row">
                <div class="input-field col m8">
                    <select>
                        <option value="" disabled selected>Pilih</option>
                        <option value="relevant">Relevansi</option>
                        <option value="price-high">Harga Tertinggi</option>
                        <option value="price-low">Harga Terendah</option>
                    </select>
                    <label>Urutkan Berdasarkan</label>
                </div>
                <div class="file-field input-field col m4">
                    <button class="btn waves-effect waves-light grey darken-4 width-100-percent">Terapkan</button>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row mt-5">

    <div class="col s12 m4 l3"> <!-- Note that "m4 l3" was added -->
        {% include 'find_it/includes/sidebar.html' %}
    </div>

    <div class="col s12 m8 l9">

        <div class="flexbox">
            {% for title, price, image, location, date, source in products %}
            <div class="col">
                <div class="card">
                    <div class="card-image">
                        <img class="img-height-200" src="{{ image }}">
                    </div>
                    <div class="card-content">
                        <p>{{ title|title }}</p>
                        <p><small>{{ date }}</small></p>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <p><b>{{ price }}</b></p>
                                <p><small>{{ location }}</small></p>
                            </div>
                            <div class="col" style="float: right">
                                {% if source == 'olx' %}
                                <img style="height: 40px" class="img-fluid"
                                     src="{% static 'img/ecommerce/olx-logo.png' %}"
                                     alt="">
                                {% else %}
                                <img style="height: 30px; float: right" class="img-fluid"
                                     src="{% static 'img/ecommerce/uqi.jpg' %}"
                                     alt="">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn-small mx-3 blue darken-4 white-text"
                           href="#">Kunjungi</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}